</main>
<footer class="footer_bg">
    <div class="footer_heading_box">
      <h1 class="footer_heading">vannamei</h1>
    </div>
    <div class="indian"><h1 class="indian_text">TRULY<br>INDIAN<br>WEBAPP</h1></div>
    <div class="made"><h1 class="made_text">Made with ❤️ in Andhra Pradesh</h1></div>
    <hr style="height: 2px;width: 100%;background-color: black;">
    <div class="copyright"><p class="copyright_text">&copy; 2024 vannnamei private limited. All rights reserved. <a href="/privacy_policy">privacy&policy</a>
    </p></div>

  </footer>
<hr>

</body>
</html>