<%- include("partials/navbar.ejs") %>
<section class="desease" style="background: #EEF5FF;">
    <div class="d_container1"></div>
    <div class="d_container2">
        <div><h1 class="d_heading">About Us:</h1></div>
        <div class="mano1"><p class="d_paragraph">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to vannamei, where we are passionate about supporting shrimp farmers and &nbsp;&nbsp;&nbsp;enthusiasts. 
            Our mission is to provide valuable tools and information to enhance your shrimp farming &nbsp;&nbsp;&nbsp;experience. <br>
            <br>
            **What We Offer:** <br>
            &nbsp;&nbsp;&nbsp;- **Feed Calculation Calculator:** Simplify feed management with our user-friendly calculator, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;designed to 
            help you determine the right feed quantities for your shrimp. <br>
            <br>
            &nbsp;&nbsp;&nbsp;- **Shrimp Disease Insights:** Explore articles on shrimp diseases, their symptoms, and effective &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;management 
            strategies to keep your shrimp healthy. <br>
            <br>
            &nbsp;&nbsp;&nbsp;- **Weather Reports:** Stay informed with our accurate weather reports, assisting you in making &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;informed 
            decisions for your shrimp farming activities. <br>
            
            &nbsp;&nbsp;&nbsp;- **Market Insights:** Navigate the shrimp market confidently with our insights into trends and pricing. <br>
            <br>
            **Why Choose Us:** <br>
            &nbsp;&nbsp;&nbsp;- **Expertise:** Our team consists of experts in shrimp farming and aquaculture. <br>
            &nbsp;&nbsp;&nbsp;- **Accuracy:** We prioritize accuracy to provide reliable and trustworthy resources. <br>
            &nbsp;&nbsp;&nbsp;- **Community:** Join a community of shrimp farmers and enthusiasts, sharing experiences and tips for &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;success. <br>
            <br>
            **Connect With Us:** <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We value your feedback. Connect with us on [social media links] or reach out to us at [we will update soon].
            
            Thank you for choosing vannamei.in. We're here to support your shrimp farming journey! 
            
            vannamei Team <br>
            </p>
        </div>
    </div>
<div class="d_container3"></div>
</section>

<%- include("partials/footer.ejs") %>