<%- include("partials/navbar.ejs") %>
<section class="desease">
    <div class="d_container1"></div>
    <div class="d_container2">
        <div></div>
        <div><h1 class="d_heading">Unraveling the Challenges of Black Gills Disease: A Comprehensive Exploration of Causes,
             Symptoms, and Solutions in Vannamei Shrimp Aquaculture</h1></div>
        <div class="mano1"><p class="d_paragraph">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Black gills disease poses a
             significant threat to Vannamei shrimp aquaculture, with its roots intertwined with various factors.
              The causes of this disease span a spectrum of issues, including poor bottom quality, accumulation 
              of food waste on the pond bottom, and the presence of heavy metals such as cadmium, copper, as well
               as harmful substances like ammonia and nitrate. Additionally, pathogens like Fusarium sessile 
               contribute to the complexity of this ailment. <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The impact of black gills disease is particularly
                pronounced on the shrimp's respiratory system. Gill damage, caused by these environmental factors
                 and pathogens, hampers the shrimp's ability to breathe effectively, posing a serious challenge to
                  their overall health. In this exploration, we will delve into the multifaceted causes of black gills
                   disease and explore strategies for mitigating its effects in Vannamei shrimp farming.
            
            </p></div>
            <div class="flex">
                <img class="height" src="pngtrash/blackgill.jpg" alt="blackgill_img" >
                <img class="height" src="pngtrash/blackgillhead.jpg" alt="head_img" >
            </div>
            <div class="mano"><h2 class="d_heading">Names of the pathogens:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Fusarium sessile</li>
                    <li>• algea</li>
                    <li>• fungi</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Symptoms:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• The appearance of brown and black gills is a notable symptom in Vannamei shrimp affected by black &nbsp;&nbsp;&nbsp;gills disease.</li>
                    <li>• When there's enough oxygen in the pond, the shrimp swim on surface of water. You'll notice this when &nbsp;&nbsp;&nbsp;we stop aeration.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Drawbacks Caused by the Disease in Shrimp Farming:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Increased Risk of Shrimp Mortality.</li>
                    <li>• Buyers are not interested in purchasing shrimp that show signs of disease.</li>
                    <li>• Even when buyers express interest, they tend to make purchases at a lower cost.</li>
                    <li>• The amount of shrimp we can produce will go down because of mortlity.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Precautions:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Enhance pond health by using bottom probiotics for effective bottom management.</li>
                    <li>• Reduce feed waste in the pond by regular monitoring.</li>
                    <li>• Keep the right amount of salinity and oxygen in the water.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Treatment:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We need to identify the cause of the disease. If it's due to pathogens, antibiotics are necessary. 
                        In cases where poor bottom and water quality are contributing factors, employ bottom probiotics for 
                        effective bottom management and consider water exchange. For issues related to ammonia and nitrate, 
                        utilize ammonia removers like zeolite alongside proper feed management for favorable results.</li>
                </ul>
            </div>
            <div><p class="d_paragraph">**We need to make fast decisions because there's a high chance of mortality.**</p></div>
            <div class="right">
                <div id="p2"><img src="/pngtrash/previous.png" alt="previous"></div>
                <div id="n2"><img src="/pngtrash/next.png" alt="next"></div>
            </div>
    </div>
    <div class="d_container3">

    </div>
</section>
<%- include("partials/footer.ejs") %>
<script>
    const p2 = document.getElementById("p2");
p2.addEventListener("click", function(){
    window.location.href = '/ehp';
}); 
const n2 = document.getElementById("n2");
n2.addEventListener("click", function(){
    window.location.href = '/whitegut';
});
</script>





