<%- include("partials/navbar.ejs") %>
<section class="desease" style="background: #EEF5FF;">
    <div class="d_container1"></div>
    <div class="d_container2" style="background: #EEF5FF;">
        <div><h1 class="d_heading">Career Page:</h1></div>
        <div class="mano1"><p class="d_paragraph">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to vannamei's Career Page! While we currently don't have any open 
            positions, &nbsp;&nbsp;&nbsp;we're always on the lookout for talented individuals who share our passion. 
            At vannamei, &nbsp;&nbsp;&nbsp;we believe in building a team of dedicated and creative professionals. <br>
            <br>
            **Why Consider a Career With Us:** <br>
            &nbsp;&nbsp;&nbsp;- **Inclusive Environment:** Join a workplace that values diversity and inclusivity. <br>
            &nbsp;&nbsp;&nbsp;- **Innovative Culture:** Be part of a team that encourages fresh ideas and innovation. <br>
            &nbsp;&nbsp;&nbsp;- **Future Opportunities:** Submit your resume to be considered for future openings. <br>
            
            **How to Express Interest:** <br>
            &nbsp;&nbsp;&nbsp;If you're enthusiastic about joining vannamei.in, please send your resume and a brief cover 
            &nbsp;&nbsp;&nbsp;letter to [insert email address]. We'll keep your information on file and reach out if a suitable opportunity &nbsp;&nbsp;&nbsp;arises. <br>
            <br>
            **Stay Connected:** <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Follow us on [social media links] to stay updated on company news, culture, and potential career &nbsp;&nbsp;&nbsp;opportunities.
            
            Thank you for considering a future with vannamei. We appreciate your &nbsp;&nbsp;&nbsp;interest and look forward to the possibility of working together in the future!
            
            Vannamei &nbsp;&nbsp;&nbsp;Careers Team
            </p>
        </div>
    </div>
<div class="d_container3"></div>
</section>

<%- include("partials/footer.ejs") %>