<%- include("partials/navbar.ejs") %>
<section class="desease1" >
    <div class="d_container1"></div>
    <div class="d_container2">
        <div ><h1 class="dt">Diseases</h1></div>
        <div class="table">
            <div class="image-container" id="d1">
                <img src="pngtrash/spores.png" alt="spores" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">EHP</p>
                </div>
            </div>
            <div class="image-container" id="d2">
                <img src="pngtrash/blackgill.jpg" alt="blackgill_img" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">Blackgill</p>
                </div>
            </div>
            <div class="image-container" id="d3">
                <img src="pngtrash/feacal.jpg" alt="fecalstringd" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">Whitegut</p>
                </div>
            </div>
        </div>
        <br>
        <div class="table">
            <div class="image-container" id="d4">
                <img src="pngtrash/cramp3.png" alt="bodycramp_img" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">Bodycramp</p>
                </div>
            </div>
            <div class="image-container" id="d2">
                <img src="pngtrash/blackgill.jpg" alt="blackgill_img" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">Blackgill</p>
                </div>
            </div>
            <div class="image-container" id="d3">
                <img src="pngtrash/feacal.jpg" alt="fecalstringd" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">Whitegut</p>
                </div>
            </div>
        </div>
        <div class="table">
            <div class="image-container" id="d4">
                <img src="pngtrash/cramp3.png" alt="bodycramp_img" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">Bodycramp</p>
                </div>
            </div>
            <div class="image-container" id="d2">
                <img src="pngtrash/blackgill.jpg" alt="blackgill_img" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">Blackgill</p>
                </div>
            </div>
            <div class="image-container" id="d3">
                <img src="pngtrash/feacal.jpg" alt="fecalstringd" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">Whitegut</p>
                </div>
            </div>
        </div>
        <div class="table">
            <div class="image-container" id="d4">
                <img src="pngtrash/cramp3.png" alt="bodycramp_img" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">Bodycramp</p>
                </div>
            </div>
            <div class="image-container" id="d2">
                <img src="pngtrash/blackgill.jpg" alt="blackgill_img" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">Blackgill</p>
                </div>
            </div>
            <div class="image-container" id="d3">
                <img src="pngtrash/feacal.jpg" alt="fecalstringd" style="height: 120px; width: 300px; border-radius: 15px;">
                <div class="overlay">
                    <p class="pad">Whitegut</p>
                </div>
            </div>
        </div>
    </div>
<div class="d_container3"></div>
</section>

<%- include("partials/footer.ejs") %>
<script>
const d1 = document.getElementById("d1");
d1.addEventListener("click", function(){
    window.location.href = '/ehp';
}); 


const d2 = document.getElementById("d2");
d2.addEventListener("click", function(){
    window.location.href = '/blackgills';
}); 


const d3 = document.getElementById("d3");
d3.addEventListener("click", function(){
    window.location.href = '/whitegut';
}); 

const d4 = document.getElementById("d4");
d4.addEventListener("click", function(){
    window.location.href = '/bodycramps';
}); 
</script>