<%- include("partials/navbar.ejs") %>
<section class="desease">
    <div class="d_container1"></div>
    <div class="d_container2">
        <div></div>
        <div><h1 class="d_heading">Understanding and Managing Enterocytozoon Hepatopenaei (EHP) in Shrimp Farming</h1></div>
        <div class="mano1"><p class="d_paragraph">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enterocytozoon hepatopenaei (EHP) stands as 
            a microscopic adversary in the realm of shrimp aquaculture, bringing forth hepatopancreatic microsporidiosis (HPM). 
            This emerging fungal parasite has established itself as a significant global threat, inflicting substantial economic
             losses on shrimp farming industries worldwide. Prevalent in ponds with slow growth rates, EHP demonstrates a remarkable
             ability to transmit directly from one shrimp to another through the oral route, posing a unique challenge in disease management.
             <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This parasitic invasion weakens the shrimp's immune system, rendering it susceptible to additional infections, leading to internal
              damage and compromising nutrient absorption.Having EHP around means shrimp don't grow as they should, and their overall health
               takes a hit. To keep shrimp thriving, we need to understand how EHP spreads, its effects, and find ways to tackle this challenge
             in shrimp aquaculture.
            </p></div>
            <div class="flex">
                <img class="height" src="pngtrash/spores.png" alt="spores" >
                <img class="height" src="pngtrash/ehp_1.png" alt="ehp diagram" >
            </div>
            <div class="mano"><h2 class="d_heading">name of the parasite:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Enterocytozoon hepatopenaei</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Symptoms:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Growth of shrimp is vary slow.</li>
                    <li>• variations in the growth of shrimps.</li>
                    <li>• Noticing an indication of shell loss problems in the shrimp.</li>
                    <li>• There will be an increase in feed wastage in the pond.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">The Setbacks Resulting from the Disease:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Unprofitable harvest.</li>
                    <li>• Reduced growth.</li>
                    <li>• It may cause white faeces disease.</li>
                    <li>• A Gradual Decrease in the Shrimp population.</li>
                    <li>• There is currently no effective medicine available for treating this disease.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Precautions:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Safety Precautions for Farmers: <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Initially, farmers should carefully choose brood stock
                         that is free from EHP infection for stocking their ponds.If a cultivation pond has been 
                         previously affected by EHP, spores may persist in the pond. Even elevated levels of chlorine
                          alone are not effective in eliminating them.To deactivate spores in the pond, it is recommended
                        to use burnt lime, sodium hydroxide (NaOH), and potassium permanganate (PP) during the pond
                        preparation process.Let the pond stay dry for a week.</li>
                    <li>• Security Measures for Hatcheries: <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Every farmer relies on hatcheries for their brood stock, making hatcheries responsible for ensuring safety.
                         Implementing comprehensive safety measures is crucial in fulfilling this responsibility.
                        Before using parent shrimps for breeding, it's essential to check if they are affected by EHP or other diseases.
                         If the results are positive, the hatchery must be disinfected. This involves using burnt lime and sodium hydroxide
                          to treat the hatchery and disinfecting all equipment used. Leave the hatchery without shrimp for a week to ensure
                           thorough disinfection. Additionally, when importing stock from other countries, prioritize implementing robust
                            biological security measures.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Treatment:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;Since there is no specific treatment for EHP, focusing on preventive measures is essential for optimal outcomes.
                         Embracing the principle that "prevention is better than cure," emphasizes the importance of following preventive 
                         protocols to effectively manage and reduce the impact of EHP in shrimp farming.</li>
            </div>
            <div><p class="d_paragraph">**A complete cure for EHP is not guaranteed.**</p></div>
            <div class="right">
                <div id="p1"><img src="/pngtrash/previous.png" alt="previous"></div>
                <div id="n1"><img src="/pngtrash/next.png" alt="next"></div>
            </div>


    </div>
    <div class="d_container3">

    </div>
</section>





<%- include("partials/footer.ejs") %>
<script>
        const n1 = document.getElementById("n1");
    n1.addEventListener("click", function(){
        window.location.href = '/blackgills';
    }); 
</script>