<%- include("partials/navbar.ejs") %>
<section class="desease">
    <div class="d_container1"></div>
    <div class="d_container2">
        <div class="flex">
            <img class="heightq" src="pngtrash/uc.jpg" alt="uc_img" >
        </div>
    </div>
    <div class="d_container3">

    </div>
</section>





<%- include("partials/footer.ejs") %>
