<%- include("partials/navbar.ejs") %>
<section class="desease">
    <div class="d_container1"></div>
    <div class="d_container2">
        <div><h1 class="d_heading">Privacy Policy:</h1></div>
        <div class="mano1"><p class="d_paragraph">
            Effective Date: February 1, 2024. <br>
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you for visiting [Your Website Name]. This Privacy Policy outlines how we collect, use, and protect 
            your personal information on our website, particularly in relation to the feed calculation calculator, articles 
            on shrimp diseases, weather reports, and market insights. By using our website, you consent to the terms outlined 
            in this policy. <br>
            
            1. **Information We Collect:** <br>
            &nbsp;&nbsp;&nbsp;- Feed Calculation Calculator: We may collect non-personal information entered into the feed calculation 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; calculator for analytical purposes. <br>
            &nbsp;&nbsp;&nbsp;- Articles on Shrimp Diseases: No personal information is collected when you access or read our articles &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;on 
               shrimp diseases. <br>
               &nbsp;&nbsp;&nbsp; - Weather Reports: Weather-related data may be collected for the purpose of providing accurate and &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;timely information. <br>
               &nbsp;&nbsp;&nbsp;- Market Insights: Non-personal information may be collected for analytical purposes related to market 
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;insights. <br>
            
            2. **Use of Information:** <br>
            &nbsp;&nbsp;&nbsp;- Feed Calculation Calculator: Information entered into the calculator is used solely for the purpose of 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;providing accurate feed calculations and is not stored or shared. <br>
               &nbsp;&nbsp;&nbsp;- Articles on Shrimp Diseases: No personal information is collected when reading articles on shrimp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;diseases. <br>
               &nbsp;&nbsp;&nbsp;- Weather Reports: Data collected is used to provide up-to-date and accurate weather information. <br>
               &nbsp;&nbsp;&nbsp;- Market Insights: Non-personal information may be used for analytical purposes to improve content and &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;user
                experience. <br>
            
            3. **Data Security:** <br>
            &nbsp;&nbsp;&nbsp;- We employ industry-standard security measures to protect against unauthorized access, alteration, 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;disclosure, or destruction of your personal information. <br>
            
            4. **Third-Party Services:** <br>
            &nbsp;&nbsp;&nbsp;- Our website may contain links to third-party websites or services. 
               We are not responsible for their &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;privacy practices. <br>
            
            5. **Cookies:** <br>
            &nbsp;&nbsp;&nbsp;- We may use cookies to enhance your experience on our website. You can choose to disable cookies in &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;your browser 
               settings. <br>
            
            6. **Updates to Privacy Policy:** <br>
            &nbsp;&nbsp;&nbsp;- We reserve the right to update and modify this Privacy Policy at any time. Updates will be reflected &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;with
                a revised effective date. <br>
            
            Please review this Privacy Policy periodically. Your continued use of our website signifies your acceptance 
            of any changes. If you have any questions or concerns about our Privacy Policy, please contact us at [we will update email soon]. <br>
            <br>
        This Privacy Policy was last updated on February 6, 2024. <br>
            </p>
        </div>
    </div>
<div class="d_container3"></div>
</section>

<%- include("partials/footer.ejs") %>