<div><h1 class="welcome_note">welcome to vannnamei Insight Repository!</h1></div>
<div class="temp">
 <div class="four_boxes">
   <button href="/calculator"><img src="pngtrash/calculator.svg" alt="calculator_svg">  <span>Feed Calculator</span></button>
 </div>
 <div class="four_boxes">
   <h3><a href="#"><img src="pngtrash/graph-up-arrow.svg" alt="trend_arrow"><a href="#">  <span>market trendsz</span></a></h3>
 </div>
</div>
<div class="temp">
 <div class="four_boxes">
   <h3><a href="#"><img src="pngtrash/cloud-sun.svg" alt="calculator_svg">  <span>deceases</span></a></h3>
 </div>
 <div class="four_boxes">
   <h3><a href="#"><img src="pngtrash/virus.svg" alt="trend_arrow"><a href="#">  <span>wheather</span></a></h3>
 </div>
 #0F6C79
</div>
#cc2456
#B9D7EA



pale blue #b2c1c4
          cadetblue
         rose #d9c6ae

logo.addEventListener("mouseover", function(){
logo.style.background ="#00001a";
logo.style.color = "white";
});

logo.addEventListener("mouseout", function(){
logo.style.background ="";
logo.style.color = "";
});
#B9D7EA