<%- include("partials/navbar.ejs") %>
<section class="disease-container">
    <div class="d_container1"></div>
    <div class="d_container2">
        <div></div>
        <div class="widget-container">
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-4b589186-391a-48a1-9066-339a3b2a00b2" data-elfsight-app-lazy ></div>
        </div>
    </div>
    <div class="d_container3"></div>
</section>
<%- include("partials/footer.ejs") %>

