<%- include("partials/navbar.ejs") %>
<section class="desease">
    <div class="d_container1"></div>
    <div class="d_container2">
        <div></div>
        <div><h1 class="d_heading">White Spot Disease: Strategies for Shrimp Farmers....</h1></div>
        <div class="mano1"><p class="d_paragraph">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;White spot disease is a serious
             problem for shrimp farmers everywhere. It's caused by a virus called White Spot Syndrome Virus (WSSV).
              This virus spreads quickly and can kill a lot of shrimp in a short time. It was first found in Taiwan
               in the early 1990s and has since become a big worry for shrimp farmers all over the world.
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The disease doesn't just hurt farmers' wallets – it also harms the environment and makes it harder
             for people to get enough food. The virus spreads easily, and it's tough to stop. Even though many
              people are trying to find ways to control it, the virus keeps finding new ways to survive and cause
               problems.
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In this introduction, we'll talk about what causes white spot disease, how it spreads, what it does to shrimp,
             and what farmers are doing to try to stop it. Understanding these things can help us find better ways to deal
              with this tricky disease.
            </p></div>
            <div class="flex">
                <img class="height" src="pngtrash/whitspot.png" alt="whitespot_img" >
            </div>
            <div class="mano"><h2 class="d_heading">Names of the pathogen:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li><strong>Species:</strong> White spot syndrome virus</li>
                    <li><b>Class:</b> Naldaviricetes</li>
                    <li><b>Order:</b> incertae sedis</li>
                    <li><b>Family:</b>	Nimaviridae</li>
                    <li><b>Genus:</b> Whispovirus</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Symptoms:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• White spots: One of the most noticeable signs of the disease is the appearance of small, white 
                        spots on the exoskeleton (outer shell) of infected shrimp. These spots often resemble grains of 
                        salt or sugar and can be found all over the body, including the carapace, appendages, and tail.</li>
                    <li>• Loss of appetite: Infected shrimp may exhibit a reduced interest in feeding, leading to 
                        decreased food consumption. This decline in appetite can result in slower growth rates and 
                        weakened immune responses.</li>
                    <li>• Lethargy: Affected shrimp may appear lethargic or inactive, spending more time resting on the 
                        bottom of the pond or tank rather than actively swimming or foraging.</li>
                    <li>• Weakness: White spot disease can cause weakness and reduced mobility in infected shrimp. 
                        They may struggle to move or swim normally, showing signs of fatigue and difficulty in performing 
                        basic activities.</li>
                    <li>• Abnormal behavior: Infected shrimp may display abnormal behaviors such as erratic swimming 
                        patterns, disorientation, or clustering together in groups. These behavioral changes can indicate 
                        distress and discomfort caused by the disease.</li>
                    <li>• Red discoloration: In some cases, the exoskeleton of infected shrimp may develop red or pink 
                        discoloration, particularly around the edges of the white spots. This symptom is often more 
                        pronounced in advanced stages of the disease.</li>
                    <li>• Death: White spot disease can lead to high mortality rates in shrimp populations, especially if 
                        left untreated. Infected shrimp may succumb to the illness within a few days of showing symptoms, 
                        contributing to significant losses for shrimp farmers.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">The Consequences of Disease: Unraveling Health-Related Challenges.</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Money losses: The disease causes farmers to lose a lot of money because their shrimp don't grow 
                        well, many die, and they have to spend more money on trying to control the disease. This means 
                        less profit for the farmers.</li>
                    <li>• Restrictions on selling: When there's an outbreak of white spot disease, countries might stop 
                        buying shrimp from affected areas. This makes it hard for farmers to sell their shrimp and hurts 
                        their income even more.</li>
                    <li>• Harm to the environment: To control the disease, farmers might use chemicals and antibiotics, which can harm 
                        the water and the creatures living in it. Also, when lots of shrimp die, it creates pollution in the water, 
                        which is bad for the environment.</li>
                    <li>• Losing jobs: Small-scale shrimp farmers, especially in poor countries, depend a lot on shrimp 
                        farming for their income. When they lose shrimp to the disease, they lose money and may not be 
                        able to support themselves and their families.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Precautions:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Biosecurity protocols: Implement strict biosecurity measures to prevent the introduction and spread of 
                        white spot virus (WSSV) into shrimp farming facilities. This includes controlling access to ponds or 
                        tanks, disinfecting equipment and vehicles, and screening incoming shrimp stocks for disease.</li>
                    <li>• Quarantine procedures: Quarantine newly acquired shrimp stocks in separate facilities or tanks 
                        to monitor for signs of white spot disease before introducing them into existing populations. 
                        This helps prevent the spread of the virus from infected to healthy shrimp.</li>
                    <li>• Water quality management: Maintain optimal water quality parameters, including temperature, pH, 
                        dissolved oxygen levels, and salinity, to reduce stress on shrimp and enhance their immune 
                        response against pathogens like WSSV.</li>
                    <li>• Stocking density and rotation: Avoid overcrowding shrimp populations in ponds or tanks, as high 
                        stocking densities can increase stress and susceptibility to disease. Rotate shrimp crops and 
                        allow sufficient fallow periods between cycles to reduce the risk of disease transmission.</li>
                    <li>• Feed management: Provide high-quality, nutritionally balanced feed to promote shrimp health and 
                        immune function. Avoid overfeeding, as excess feed can lead to water quality degradation and 
                        increase the risk of disease outbreaks.</li>
                    <li>• Monitoring and surveillance: Regularly monitor shrimp populations for signs of white spot 
                        disease, including white spots on the exoskeleton, abnormal behavior, and reduced feeding 
                        activity. Implement surveillance programs to detect disease early and take prompt action to 
                        prevent its spread</li>
                    <li>• Hygiene and sanitation: Maintain clean and hygienic farming practices, including proper waste 
                        management, equipment sanitation, and regular pond or tank maintenance. Minimize potential 
                        sources of contamination to reduce the risk of disease transmission within shrimp farming 
                        facilities.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Treatment:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As of now, there is no known cure for white spot disease in shrimp caused by the White Spot 
                        Syndrome Virus (WSSV). The virus affects shrimp at a cellular level, making it challenging to 
                        develop a specific treatment to eradicate the infection entirely.

                        However, ongoing research aims to find effective ways to manage the disease and reduce its impact on shrimp populations.</li>
                </ul>
            </div>
            <div><p class="d_paragraph">**If not addressed promptly,  white spot disease has the potential to devastate a 
                shrimp population, causing the mortality of 80-90% of the shrimp within a brief period of 5-7 days.**</p></div>
            <div class="right">
                <div id="p3"><img src="/pngtrash/previous.png" alt="next"></div>
                <div id="n3"><img src="/pngtrash/next.png" alt="next"></div>
            </div>
    </div>
    <div class="d_container3">

    </div>
</section>





<%- include("partials/footer.ejs") %>
<script>
    const p3 = document.getElementById("p3");
p3.addEventListener("click", function(){
    window.location.href = '/bodycramps';
}); 
const n3 = document.getElementById("n3");
n3.addEventListener("click", function(){
    window.location.href = '/whitespot';
});
</script>