<%- include("partials/navbar.ejs") %>
<section class="desease">
    <div class="d_container1"></div>
    <div class="d_container2">
        <div></div>
        <div><h1 class="d_heading">Managing White Gut Disease in Vannamei Shrimp Farming: Causes, Symptoms, and Prevention Tips</h1></div>
        <div class="mano1"><p class="d_paragraph">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;White Gut or White Fecal Disease is a big issue in shrimp farming, especially with Vannamei shrimp.
             It usually pops most of the times between 30 to 60 days into the shrimp's growing period.
            The noticeable thing about this disease is that the poop turns white.
            This happens because the hepatopancreas gets damaged by pathogens.
            these pathogens increases the ph of shrimps gut.
            Over time, factors leading to hormonal imbalance can result in a reduction in the secretion of digestive enzymes.
            In this exploration of White Gut Disease, we'll look into why it happens and, most importantly, how we can stop it from
             affecting our Vannamei shrimp. Preventing this disease is crucial to keeping our shrimp healthy and thriving in aquaculture.
            </p></div>
            <div class="flex">
                <img class="height" src="pngtrash/whitegut.jpg" alt="whitegutimg" >
                <img class="height" src="pngtrash/feacal.jpg" alt="fecalstringd" >
            </div>
            <div class="mano"><h2 class="d_heading">Names of the pathogens:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Vibrio harveyi</li>
                    <li>• Vibrio parahaemolyticus</li>
                    <li>• Pseudomonas aeruginosa</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Symptoms:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• The gut appears as white.</li>
                    <li>• The pond impacted by the white feces disease displays white fecal strings suspended on the water's &nbsp;&nbsp;&nbsp;surface.</li>
                    <li>• Less feed intake.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">The Consequences of Disease: Unraveling Health-Related Challenges.</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Less feed intake.</li>
                    <li>• Loose shell problem.</li>
                    <li>• Reduced growth.</li>
                    <li>• Risk of 60% Mortality.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Precautions:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Effective bottom management.(use bottom probiotics)</li>
                    <li>• Effective water management.</li>
                    <li>• Choosing high-quality feed.</li>
                    <li>• Utilize probiotics for gut health.</li>
                </ul>
            </div>
            <div><h2 class="d_heading">Treatment:</h2></div>
            <div>
                <ul class="d_paragraph">
                    <li>• Utilizing Bacillus Gut Probiotics for Health Improvement based on disease severity.</li>
                    <li>• Include natural remedies like curd and yeast in 1 meal.</li>
                </ul>
            </div>
            <div><p class="d_paragraph">**If not addressed promptly, the white gut disease has the potential to rapidly eliminate a shrimp population.**</p></div>
            <div class="right">
                <div id="p3"><img src="/pngtrash/previous.png" alt="next"></div>
                <div id="n3"><img src="/pngtrash/next.png" alt="next"></div>
            </div>
    </div>
    <div class="d_container3">

    </div>
</section>





<%- include("partials/footer.ejs") %>
<script>
    const p3 = document.getElementById("p3");
p3.addEventListener("click", function(){
    window.location.href = '/blackgills';
}); 
const n3 = document.getElementById("n3");
n3.addEventListener("click", function(){
    window.location.href = '/bodycramps';
});
</script>